.advantages__title {
  display: block;
  width: 320px;
  padding: 20px;

  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  list-style: none;
  margin-bottom: 44px;
}

.advantages__item {
  display: block;
  padding-left: 100px;
  padding-right: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
}
