.card__description {
  width: 100%;

  border-collapse: collapse;
}

.card__text {
  width: 140px;
}

.card__name {
  width: 60%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.card__name a {
  color: @black;
}

.card__field,
.card__value {
  width: 140px;

  font-size: 12px;
  line-height: 16px;
  font-family: @default-font;
}

.card__value {
  text-align: right;
}

.card__order {
  width: 280px;
  margin: 0;
  margin-bottom: 25px;
}

.card__more--text {
  font-size: 12px;
  line-height: 16px;
  font-family: @default-font;

  padding-bottom: 20px;
}

.card__to-all {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  padding-top: 12px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #444444;

  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .card {
    width: 324px;
    margin-bottom: 45px;

    background-image: linear-gradient(to bottom, white 10%, @light-grey 10%);
  }

  .card__name {
    width: 150px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;

    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  .card__description--row {
    min-height: 40px;
    width: 254px;

    padding-top: 8px;
    border-bottom: 1px solid #cdcdcd;

    vertical-align: middle;
  }

  .card__field,
  .card__value {
    font-size: 16px;
    font-family: @default-font;
  }

  .card__text {
    width: 324px;
    padding-left: 39px;
    padding-right: 34px;
  }

  .card__photo {
    text-align: center;
    background-color: transparent;
  }

  .card__order {
    margin: auto;
    margin-top: 35px;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .card__name {
    font-size: 20px;
  }
}
