.categories__button-search {
  display: block;
  width: 280px;
  height: 42px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 12px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: @white;

  background-color: @light-green;
}

.categorits__item {
  width: 280px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: @light-grey;
}

.categories__title {
  font-size: 24;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
}

.categories__text {
  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
}

.categories__link {
  font-size: 16px;
  line-height: 16px;
  color: @black;
}
