// .categories__button-search {
//   display: block;
//   width: 280px;
//   height: 42px;
//   margin-right: 20px;
//   margin-left: 20px;
//   margin-bottom: 23px;
//   padding-top: 12px;

//   font-size: 14px;
//   line-height: 18px;
//   text-align: center;
//   vertical-align: middle;
//   text-transform: uppercase;
//   color: @white;

//   background-color: @light-green;
// }

.categories__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.categories__item {
  display: block;
  width: 280px;
  min-height: 265px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: @light-grey;
}

.categories__title {
  display: block;
  padding-left: 92px;

  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

.categories__text {
  font-size: 14px;
  line-height: 18px;
  font-family: @default-font;
}

.categories__link {
  min-height: 57px;

  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
}

.categories__icon--slim {
  position: relative;
}

.categories__icon--slim img {
  width: 36px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.categories__icon--slim::before {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  background-color: @light-green;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.categories__icon--weight {
  position: relative;
}

.categories__icon--weight img {
  width: 68px;
  height: auto;
  position: absolute;
  bottom: 24px;
  left: 11px;
}

.categories__icon--weight::before {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  background-color: @light-green;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .categories__wrapper {
    flex-wrap: wrap;

    width: 708px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .categories__item {
    width: 708px;
    padding-top: 36px;
    padding-right: 280px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: @light-grey;
  }

  .categories__item:last-child {
    margin-top: 30px;
  }

  .categories__title {
    padding-left: 0;
    font-size: 36px;
  }

  .categories__text {
    font-size: 16px;
    line-height: 24px;
  }

  .categories__link {
    padding-top: 42px;
    font-size: 20px;
    line-height: 20px;
  }

  .categories__icon--slim {
    position: relative;
  }

  .categories__icon--slim img {
    width: 144px;
    height: auto;
    max-width: 100%;
    position: absolute;
    left: 450px;
    bottom: -100px;
  }

  .categories__icon--slim::before {
    content: "";
    display: block;
    width: 202px;
    height: 202px;
    background-color: @light-green;
    border-radius: 50%;
    position: absolute;
    bottom: -115px;
    left: 415px;
  }

  .categories__icon--weight {
    position: relative;
  }

  .categories__icon--weight img {
    width: 270px;
    height: auto;
    max-width: 100%;
    position: absolute;
    left: 360px;
    bottom: -94px;
  }

  .categories__icon--weight::before {
    content: "";
    display: block;
    width: 202px;
    height: 202px;
    background-color: @light-green;
    border-radius: 50%;
    position: absolute;
    bottom: -140px;
    left: 400px;
  }
}

@media (min-width: @desktop-width) {
  .categories__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1220px;
    margin-right: 110px;
    margin-left: 110px;
  }

  .categories__item {
    width: 570px;
    min-height: 371px;
    padding-right: 50px;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 54px;
    margin-bottom: 0;
  }

  .categories__item:last-child {
    margin-top: 0;
  }

  .categories__title {
    font-size: 36px;
    line-height: 37.02px;
    padding-left: 190px;
  }

  .categories__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .categories__icon--slim img {
    width: 72px;
    height: auto;
    left: 25px;
    bottom: 20px;
  }

  .categories__icon--slim::before {
    content: "";
    width: 103px;
    height: 103px;
    background-color: @light-green;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .categories__icon--weight img {
    width: 137px;
    height: auto;
    left: -4px;
    bottom: 25px;
  }

  .categories__icon--weight::before {
    content: "";
    width: 103px;
    height: 103px;
    background-color: @light-green;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}
