.contacts {
  display: block;
  width: 320px;
  padding-top: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;

  width: 280px;

  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.contacts__wrapper--inner-page {
  background-color: @light-grey;

  width: 320px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.contacts__cooperation {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;

  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-family: @default-font;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 0;
  }

  .contacts__wrapper {
    width: 768px;

    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    background-color: white;
  }

  .contacts__wrapper--inner-page {
    background-color: @light-grey;
  }

  .contacts__cooperation {
    width: 160px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 165px;

    font-size: 16px;
    text-align: right;
  }

  .contacts__city {
    display: inline-block;
    margin-top: 25px;
  }

  .contacts iframe {
    width: 768px;
    height: 400px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts iframe {
    width: 1440px;
  }

  .contacts__wrapper {
    position: absolute;
    width: 570px;
    min-height: 200px;
    margin-top: 110px;
    margin-left: 110px;
    padding-top: 65px;
    padding-left: 75px;
  }

  .contacts__cooperation {
    margin: 0;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__wrapper--inner-page {
    background-color: @white;
  }
}
