.contacts {
  display: block;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-right: 20px;
  margin-left: 20px;
}

.contacts__cooperation {
  width: 140px;

  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  width: 140px;

  font-size: 14px;
  line-height: 20px;
  text-align: right;
  font-family: @default-font;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 768px;
    padding-right: 68px;
    padding-left: 68px;
  }

  .contacts__cooperation {
    width: 285px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 285px;

    font-size: 16px;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    width: 1440px;
  }

  .contacts__wrapper {
    width: 570px;
    min-height: 200px;
  }
}
