.example {
  background-color: @light-grey;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-family: @main-font;

  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 10px;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: @default-font;

  padding-right: 10px;
}

.example__block {
  display: flex;
  justify-content: space-between;

  width: 280px;
  min-height: 58px;
}

.example__weight,
.example__days {
  display: block;
  position: relative;

  width: 125px;
  padding-top: 12px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__kilo,
.example__time {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__kilo {
  padding-left: 44px;
}

.example__time {
  padding-left: 23px;
}

.example__text-weight,
.example__text-days {
  display: block;
  position: absolute;
  bottom: -15px;
  left: 17px;

  width: 86px;
  background-color: @light-grey;
  padding-left: 4px;

  font-family: @default-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__costs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  text-align: center;

  margin-top: 35px;
  margin-bottom: 40px;
}

.example__slider {
  display: block;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .example {
    width: 768px;
    background-color: @white;
    padding-left: 0;
    padding-right: 0;
  }

  .example__block {
    width: 375px;
    padding-left: 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__weight,
  .example__days {
    width: 168px;
    min-height: 74px;

    padding-top: 18px;

    box-sizing: border-box;
  }

  .example__weight {
    margin-right: 40px;
  }

  .example__kilo,
  .example__time {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
  }

  .example__kilo {
    padding-left: 58px;
  }

  .example__time {
    padding-left: 30px;
  }

  .example__costs {
    margin-left: auto;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

    display: block;
    width: 207px;
    text-align: right;
    padding-right: 30px;
    position: relative;
    margin-top: -65px;
    margin-bottom: 70px;
  }

  .example__text-weight,
  .example__text-days {
    font-family: @default-font;
    font-size: 14px;
    line-height: 14px;

    background-color: @white;

    left: 38px;
  }

  .example__slider {
    width: 768px;
    min-height: 646px;
    padding-left: 0;
    padding-right: 0;

    background-image: linear-gradient(to bottom, @white 180px, @light-grey 180px);
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    min-height: 618px;
    padding-left: 110px;
    padding-right: 110px;

    background-image: linear-gradient(to bottom, @white 180px, @light-grey 180px);
  }

  .example__wrapper {
    width: 433px;
    display: block;
  }

  .example__slider {
    width: 610px;
    min-height: 618px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .example__weight,
  .example__days {
    width: 160px;
  }

  .example__title {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 85px;
    margin-top: 30px;
  }

  .example__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
    padding-bottom: 65px;
    margin: 0;

    background-color: @light-grey;
  }

  .example__block {
    padding-left: 0;
  }

  .example__text-weight {
    background-color: #f2f2f2;
    width: auto;
    top: 63px;
    left: 25px;
  }

  .example__kilo {
    padding-left: 55px;
  }

  .example__text-days {
    width: auto;
    background-color: @light-grey;
    left: 10px;
    bottom: -4px;
  }

  .example__time {
    padding-left: 25px;
  }

  .example__costs {
    width: auto;
    top: 120px;
    text-align: left;
    padding-right: 0;
  }

  .example__costs-right {
    display: inline-block;
    margin-left: 55px;
  }
}
