.form-page {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-page__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.form-page__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.form-page__about-cat {
  border: none;
  border-bottom: 2px solid #cdcdcd;

  padding: 0;
  margin: 0;
  margin-top: 100px;
}

.form-page__about-cat--name {
  width: 230px;
  height: 45px;

  margin-bottom: 14px;
}
