.form-page {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-page__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.form-page__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.form-page__about-cat {
  border: none;
  border-bottom: 2px solid #cdcdcd;

  padding: 0;
  margin: 0;
  margin-top: 100px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-page__about-cat--name {
  width: 230px;
  height: 45px;

  margin-bottom: 14px;

  border: 1px solid #cdcdcd;
}

.form-page__about-cat--weight {
  width: 205px;
  height: 44px;

  margin-bottom: 14px;

  border: 1px solid #cdcdcd;
}

.form-page__about-cat--age {
  width: 172px;
  height: 44px;

  margin-bottom: 25px;

  border: 1px solid #cdcdcd;
}

.form-page__purpose {
  border: none;
  border-bottom: 2px solid #cdcdcd;

  padding: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.form-page__about-owner {
  border: none;
}

.form-page__about-owner--title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.form-page__about-owner--email {
  width: 220px;
  height: 44px;

  margin-bottom: 14px;

  border: 1px solid #cdcdcd;
}

.form-page__about-owner--tel {
  width: 203px;
  height: 44px;

  margin-bottom: 30px;

  border: 1px solid #cdcdcd;
}

.form-page__comment {
  border: none;
  margin: 0;
  padding: 0;
}

.form-page__comment legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 35px;
}

.form-page__comment textarea {
  width: 280px;
  height: 150px;

  font-size: 16px;
  line-height: 18px;

  margin-bottom: 30px;

  border: 1px solid #cdcdcd;
}

.form-page__add {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-page__add legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 30px;
}

.form-page__send {
  font-family: @main-font;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
}

@media (min-width: @tablet-width) {
  .form-page {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-page__title {
    font-size: 60px;

    margin-bottom: 50px;
  }

  .form-page__description {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 65px;
  }

  .form-page__about-cat {
    font-size: 20px;
    line-height: 20px;
  }

  .form-page__about-cat--name {
    width: 570px;
    height: 50px;
    margin-right: 40px;
  }
}
