.form-page {
  width: 100%;
  // padding-left: 20px;
  // padding-right: 20px;
}

.form-page__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.form-page__description {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  margin-bottom: 35px;
  padding-left: 20px;
}

.form-page__request {
  // width: 280px;
  padding: 0;
  margin: 0;
}

.form-page__about-cat {
  border: none;
  border-bottom: 1px solid #cdcdcd;

  margin: 0;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-page__about-cat--name {
  width: 230px;
}

.form-page__about-cat--weight {
  width: 205px;
}

.form-page__about-cat--age {
  width: 172px;
}

.form-page__about-cat--name,
.form-page__about-cat--weight,
.form-page__about-cat--age {
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: 15px;

  margin-left: 10px;
  margin-bottom: 14px;

  outline: 1px solid #cdcdcd;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid black;
  }

  &--invalid {
    outline: 2px solid #ff8282;
  }
}

.form-page__about-cat--name::placeholder,
.form-page__about-cat--weight::placeholder,
.form-page__about-cat--age::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: @main-font;
  text-transform: uppercase;
}

.form-page__about-cat label:last-child input {
  margin-bottom: 24px;
}

.form-page__purpose {
  border: none;
  border-bottom: 1px solid #cdcdcd;

  padding-top: 20px;
  padding-left: 20px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-page__purpose label {
  display: block;
  padding-bottom: 20px;
  padding-top: 5px;
  position: relative;
}

.form-page__purpose input {
  margin-right: 20px;
}

.form-page__purpose input[type="radio"]:checked + .form-page__purpose--indicator,
.form-page__purpose input[type="radio"]:not(:checked) + .form-page__purpose--indicator {
  margin-right: 13px;
  cursor: pointer;

  position: absolute;
  display: block;
  top: 0;
  left: 0;

  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid @light-grey;

  background-color: transparent;
}

.form-page__purpose input[type="radio"]:checked + .form-page__purpose--indicator::after {
    content: "\2B24";
    display: block;
    position: relative;
    font-size: 16px;
    width: 21px;
    height: 21px;
    color: @light-green;
    border-radius: 50%;
    left: 6.5px;
    top: 3px;
}

.form-page__purpose input[type="radio"] {
  opacity: 0;
}

.form-page__about-owner {
  border: none;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-left: 20px;
  margin: 0;
  padding-bottom: 0;
}

.form-page__about-owner--title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: none;
}

.form-page__about-owner--title::after {
  content: "";
  display: block;
  position: relative;
  width: 90px;
  height: 4px;

  margin: 0;
  left: 208px;
  top: -20px;

  background-color: @light-green;
}

.form-page__about-owner--email {
  position: relative;
  width: 220px;
  height: 44px;

  margin-bottom: 14px;
  margin-left: 10px;
  padding-top: 5px;

  outline: 1px solid #e6e6e6;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid black;
  }

  &--invalid {
    outline: 2px solid #ff8282;
  }
}

.form-page__about-owner--email-svg {
  position: absolute;
  right: 75px;
  bottom: 75px;

  fill: #4f4f4f;
}

.form-page__about-owner--email:active .form-page__about-owner--email-svg {
  fill: #8dc969;

  &--invalid .form-page__about-owner--email-svg {
    fill: #ff8282;
  }
}


.form-page__about-owner--tel {
  position: relative;
  width: 207px;
  height: 44px;

  margin-bottom: 30px;
  margin-left: 10px;
  padding-top: 5px;

  outline: 1px solid #e6e6e6;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid black;
  }

  &--invalid {
    outline: 2px solid #ff8282;
  }
}

.form-page__about-owner--tel-svg {
  position: absolute;
  right: 75px;
  bottom: 15px;

  fill: #4f4f4f;
}

.form-page__about-owner--tel:active .form-page__about-owner--tel-svg {
  fill: #8dc969;

  &--invalid .form-page__about-owner--tel-svg {
    fill: #ff8282;
  }
}

.form-page__about-owner--email::placeholder,
.form-page__about-owner--tel::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: @main-font;

  padding-left: 15px;
}

.form-page__comment {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.form-page__comment legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 35px;
}

.form-page__comment legend::after {
  content: "";
  display: block;
  position: relative;
  width: 160px;
  height: 4px;

  margin: 0;
  left: 138px;
  top: -12px;

  background-color: @light-green;
}

.form-page__comment textarea {
  width: 280px;
  height: 150px;

  font-size: 16px;
  line-height: 18px;

  margin-bottom: 30px;

  border: 1px solid #cdcdcd;
}

.form-page__comment textarea::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: @main-font;

  padding-left: 14px;
  padding-top: 12px;
}

.form-page__add {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-page__add legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 30px;
  text-transform: none;
}

.form-page__add input {
  margin-bottom: 13px;
  margin-left: 17px;
}

.form-page__add label:last-child input {
  margin-bottom: 0;
}

.form-page__checkbox {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.form-page__checkbox input[type="checkbox"]:checked + .form-page__checkbox--indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.1 15.5' fill='%2368B738'><path d='M20.1 0L7.7 13.3 1 6.1 0 7.2l7.6 8.2.1.1L21 1.2l.1-.1z'/></svg>");
  background-position: center;
  background-repeat: no-repeat;

  width: 30px;
  height: 30px;

  border: 2px solid @light-grey;
}

.form-page__checkbox input[type="checkbox"]:not(:checked) + .form-page__checkbox--indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;

  width: 30px;
  height: 30px;

  border: 2px solid @light-grey;
}

.form-page__checkbox input[type="checkbox"] {
  opacity: 0;
}

.form-page__send {
  font-family: @main-font;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 0;
  padding-top: 0;
  border: none;
}

.form-page__sup {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  font-family: @default-font;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-page {
    width: 100%;
    margin: 0 auto;
  }

  .form-page__title {
    font-size: 60px;

    margin-bottom: 50px;
    padding-left: 30px;
  }

  .form-page__description {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 65px;
    padding-left: 70px;
  }

  .form-page__request {
    width: 100%;
  }

  .form-page__about-cat {
    font-size: 20px;
    line-height: 20px;

    padding-left: 70px;
    padding-right: 70px;

    border-bottom: none;
  }

  .form-page__about-cat--name {
    width: 572px;
  }

  .form-page__about-cat--name,
  .form-page__about-cat--weight,
  .form-page__about-cat--age {
    margin-bottom: 22px;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 20px;
  }

  .form-page__about-cat--name::placeholder,
  .form-page__about-cat--weight::placeholder,
  .form-page__about-cat--age::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .form-page__about-cat--weight {
    width: 540px;

    margin-bottom: 22px;
  }

  .form-page__about-cat--age {
    width: 497px;

    margin-bottom: 73px;
  }

  .form-page__purpose {
    margin-left: 65px;
    width: 634px;
    height: 200px;
    margin-bottom: 73px;

    border: 1px solid #cdcdcd;

    font-size: 20px;
    line-height: 20px;
  }

  .form-page__purpose label {
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .form-page__purpose input {
    margin-right: 27px;
  }

  .form-page__purpose input[type="radio"]:checked + .form-page__purpose--indicator,
  .form-page__purpose input[type="radio"]:not(:checked) + .form-page__purpose--indicator {
    width: 41px;
    height: 41px;
  }

  .form-page__purpose input[type="radio"]:checked + .form-page__purpose--indicator::after {
    content: "\2B24";
    font-size: 24px;
    left: 8px;
    top: 5px;
  }

  .form-page__about-owner {
    padding-left: 70px;
    padding-right: 70px;

    font-size: 20px;
    line-height: 20px;
  }

  .form-page__about-owner--title {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 70px;
  }

  .form-page__about-owner--title:after {
    width: 146px;
    left: 548px;
    top: -16px;
  }

  .form-page__about-owner--title:before {
    content: "";

    display: block;
    position: relative;
    left: -70px;
    bottom: -25px;

    width: 31px;
    height: 4px;
  
    background-color: @light-green;
  }

  .form-page__about-owner--email {
    width: 552px;
    height: 53px;

    margin-bottom: 22px;
  }

  .form-page__about-owner--email-svg {
    right: 104px;
    bottom: -265px;
  }

  .form-page__about-owner--tel {
    width: 536px;
    height: 53px;

    margin-bottom: 70px;
  }

  .form-page__about-owner--tel-svg {
    right: 102px;
    bottom: -345px;
  }

  .form-page__about-owner--email::placeholder,
  .form-page__about-owner--tel::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .form-page__comment {
    padding-left: 68px;
    padding-right: 68px;
  }

  .form-page__comment legend {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 70px;
    padding: 0;
  }

  .form-page__comment legend::after {
    width: 480px;
    left: 216px;
  }

  .form-page__comment legend:before {
    content: "";
    display: block;
    position: relative;
    left: -68px;
    bottom: -27px;

    width: 31px;
    height: 4px;

    background-color: @light-green;
  }

  .form-page__comment textarea {
    width: 630px;
    height: 175px;

    margin-bottom: 70px;
  }

  .form-page__comment textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form-page__add {
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: block;
    padding-left: 70px;
    padding-right: 70px;

    font-size: 20px;
    line-height: 20px;
  }

  .form-page__add legend {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 50px;
  }

  .form-page__add legend:before {
    content: "";
    display: block;
    position: relative;
    left: -70px;
    bottom: -24px;

    width: 31px;
    height: 4px;

    background-color: @light-green;
  }

  .form-page__add legend:after {
    content: "";
    display: block;
    position: relative;
    left: 248px;
    bottom: 14px;

    width: 446px;
    height: 4px;

    background-color: @light-green;    
  }

  .form-page__add label {
    display: inline-block;
    width: 310px;
  }

  .form-page__checkbox input[type="checkbox"] {
    margin-right: 10px;
  }

  .form-page__checkbox input[type="checkbox"]:checked + .form-page__checkbox--indicator,
  .form-page__checkbox input[type="checkbox"]:not(:checked) + .form-page__checkbox--indicator {
    width: 40px;
    height: 40px;
  }


  .form-page__send {
    font-family: @main-font;
    font-size: 20px;
    line-height: 20px;

    margin-left: 70px;
    margin-right: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 60px;
    padding-left: 60px;

    min-height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .form-page__title {
    padding-left: 110px;
  }

  .form-page__description {
    padding-left: 110px;
  }

  .form-page__wrapper {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
  }

  .form-page__about-cat {
    width: 570px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .form-page__about-cat--name {
    width: 506px;
  }

  .form-page__about-cat--weight {
    width: 475px;
  }

  .form-page__about-cat--age {
    width: 436px;
  }

  .form-page__purpose {
    width: 570px;
  }

  .form-page__about-owner {
    display: flex;
    justify-content: space-between;

    padding-left: 110px;
    padding-right: 110px;
  }

  .form-page__about-owner--email {
    width: 487px;
  }

  .form-page__about-owner--tel {
    width: 470px;
  }

  .form-page__comment {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form-page__comment textarea {
    width: 100%;
  }

  .form-page__add {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form-page__send {
    width: 570px;
  }

  .form-page__checkbox {
    position: relative;
    cursor: pointer;
    padding: 10px;
  }

  .form-page__checkbox input[type="checkbox"]:checked + .form-page__checkbox--indicator {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;

    border: 2px solid @light-grey;
  }

  .form-page__checkbox input[type="checkbox"]:not(:checked) + .form-page__checkbox--indicator {
    position: absolute;
    top: 0;
    left: 0;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;

    border: 2px solid @light-grey;
  }

  .form-page__checkbox input[type="checkbox"] {
    opacity: 0;
  }
}
