.goods__list {
  list-style: none;
}

.goods__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__field,
.goods__value {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial";
}

.goods__value {
  text-align: right;
}
