.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-image {
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.page-header__wrapper {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    width: 155px;
    height: 60px;
    margin-top: 25px;
    padding: 0;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding-left: 30px;
    margin-bottom: 30px;

    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    height: 62px;
    width: 204px;
    margin-top: 50px;
  }

  .page-header__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;

    position: relative;
    z-index: 1;

    background-color: transparent;
  }
}
