.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @light-grey;
}

.page-footer__social {
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 280px;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;

  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
}

.page-footer__link {
  font-family: @default-font;
  font-size: 16px;
  line-height: 16px;

  color: #666666;

  display: inline-block;
  padding-bottom: 10px;
}

.page-footer__svg {
  fill: #666666;
  width: 30px;
  margin-left: 100px;
  top: 6px;
  position: relative;
}

.page-footer__name img {
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .page-footer__name img {
    margin: 0;
  }

  .page-footer__social {
    width: 162px;
    border-top: none;
    border-bottom: none;
    padding-top: 0;
  }

  .page-footer__copyright {
    width: 162px;
    margin: 0;
    padding-top: 0;
  }

  .page-footer__svg {
    width: 30px;
    height: 40px;
    margin-left: 12px;
    top: 15px;
  }

  .page-footer__link {
    padding-bottom: 0;
    position: relative;
    top: -22px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    padding-left: 110px;
    padding-top: 75px;
  }

  .page-footer__name {
    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-footer__social {
    width: 245px;
  }

  .page-footer__copyright {
    width: 245px;
  }

  .page-footer__link:active {
    opacity: 0.6;
  }

  .page-footer__svg {
    path {
      fill: #666666;
    }

    &:hover {
      path {
        fill: @light-green;
      }
    }

    &:active {
      path {
        fill: @light-green;
        opacity: 0.6;
      }
    }
  }
}
