.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-image {
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    width: 175px;
    height: 60px;
    margin-top: 25px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    height: 80px;
    width: 210px;
  }

  .page-header__wrapper {
    width: 1200px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
