.page-main__wrapper {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-color: @white;
  /*background-size: 320px 305px;*/
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
  width: 320px;
  height: 440px;
  padding-top: 26px;
}

.page-main__head {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;

  margin: 0 auto;
}

.page-main__paragraph {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @white;
}

.page-main__photo {
  position: absolute;
  top: 170px;
  right: 20px;
}
