.page-main__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: @white;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
  width: 320px;
  height: 480px;
  padding-top: 26px;
  margin-bottom: 22px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 306px;
  }
}

.page-main__head {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;

  margin: 0 auto;
}

.page-main__paragraph {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
}

.page-main__photo {
  position: absolute;
  top: 170px;
  right: 20px;
}

.page-main__button-search {
  position: absolute;
  top: 440px;

  display: block;
  width: 280px;
  height: 42px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 23px;
  padding-top: 12px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: @white;

  background-color: @light-green;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    background-image: none;
    background-color: @white;

    position: relative;
    width: 768px;
    min-height: 810px;
    padding-left: 120px;
    padding-right: 222px;
    padding-top: 20px;
  }

  .page-main__head {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: @black;
    text-align: left;

    padding-bottom: 20px;
  }

  .page-main__paragraph {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }

  .page-main__photo {
    width: 709px;
    height: 609px;
    top: 215px;
  }

  .page-main__button-search {
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 235px;

    width: 245px;
    min-height: 54px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 26px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-size: 720px 698px;

    position: relative;
    width: 1440px;
    min-height: 715px;
    margin-top: -133px;
    margin-bottom: 80px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page-main__head {
    display: block;
    width: 500px;
    margin: 0;
    margin-top: 220px;
    margin-left: 70px;
    text-align: left;
  }

  .page-main__paragraph {
    margin-left: 70px;
  }

  .page-main__button-search {
    top: 470px;
    left: 170px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      opacity: 0.3;
    }
  }

  .page-main__photo {
    width: 552px;
    height: 499px;

    right: 328px;
    top: 150px;
  }
}
