.site-list__item {
  text-align: center;
  font-weight: 500;
  font-family: @main-font;
}

.site-list__item a {
  color: @black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  display: block;
  padding-top: 23px;
  padding-bottom: 23px;

  border-top: 1px solid #e6e6e6;
}

.site-list a[href] {
  &:hover {
    color: #707070;
  }

  &:active {
    color: @black;
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    padding-top: 19px;
    padding-right: 30px;
  }

  .site-list__item {
    flex-grow: 0;
    padding-left: 35px;

    font-weight: 400;

    border-bottom: 2px solid transparent;

    &--active {
      border-bottom: 2px solid @light-green;
    }
  }


  .site-list__item a {
    border-top: none;

    font-size: 18px;
    line-height: 24.86px;

    color: @black;
  }

  .site-list__item a[href] {
    &:hover {
    opacity: 0.6;
    }

    &:visited {
      opacity: 0.3;
    }

    &:active {
      border-bottom: 2px solid @light-green;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 720px;
    padding-top: 52px;

    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 24.86px;
    color: @white;
  }

  .site-list__item a[href] {
    &:hover {
      color: #c1ddb1;
    }

    &:visited {
      color: #94c377;
    }

    &:active {
      color: @white;
      border-bottom-color: @white;
    }
  }

  .site-list__item--inner a,
  .site-list__item--inner a[href] {
    color: @black;
  }
}
