.social__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;

  width: 132px;
}

.social__link {
  width: 30px;
  padding-right: 14px;
}

.social__link--vk,
.social__link--instagram,
.social__link--facebook {
  path {
    fill: #666666;
  }

  &:hover {
    path {
      fill: @light-green;
    }
  }

  &:visited {
    path {
      fill: #c8e0ba;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__link--vk svg {
    width: 30px;
    height: 25px;
    margin-left: 20px;
  }

  .social__link--instagram svg {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }

  .social__link--facebook svg {
    width: 20px;
    height: 30px;
    margin-left: 20px;
  }
}
