body {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: black;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 12px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;

  background-color: #68b738;
}

@font-face {
  font-weight: normal;
  font-family: "Oswald Regular";
  font-style: normal;
  src: url("/source/fonts/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald Medium";
  font-style: normal;
  src: url("/source/fonts/oswaldmedium.woff2") format("woff2"),
    url("/source/fonts/oswaldmedium.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
