@white: #ffffff;
@light-green: #68b738;
@light-grey: #f2f2f2;
@default-font: "Arial", sans-serif;
@black: #000000;
@main-font: "Oswald Regular", sans-serif;
@main-font-medium: "Oswald Medium", sans-serif;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
